.font-display-base {
  letter-spacing: 1px;
}
.font-display-lg {
  font-size: 4rem;
  line-height: 4.7rem;
}
.font-display-md {
  font-size: 3rem;
  line-height: 3.5rem;
}
.font-display-sm {
  font-size: 2rem;
  line-height: 2.125rem;
}
.font-text-base {
  letter-spacing: 0.047rem;
}
.font-text-lg {
  font-size: 1.5rem;
  line-height: 2.375rem;
}
.font-text-md {
  font-size: 1.125rem;
  line-height: 2.125rem;
}
.font-text-sm {
  font-size: 1rem;
  line-height: 1.75rem;
}
.font-text-xs {
  font-size: 0.875rem;
  line-height: 1.5rem;
}
