.input-base {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  text-indent: 26px;
  padding-top: 20px;
  width: 325px;
  @apply outline-none font-sans font-normal bg-transparent text-active;
  z-index: 1;
}

.input-lg {
  height: 64px;
}

.input-sm {
  height: 56px;
}

.input-caption {
  width: 325px;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 22px;
  margin-top: 9px;
  @apply text-label font-medium;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 16px;
  border-width: 2px;
  @apply border-inputBackground bg-inputBackground;
}
.input-container:focus-within {
  @apply outline-none bg-offWhite border-active;
}

.input-text {
  left: 26px;
  position: absolute;
  transition: 0.2s ease-in;
  @apply text-placeholder;
}

.input-text:hover {
  cursor: text;
}

.input-label-animate {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.25px;
  transform: translateY(-11px);
  @apply font-medium text-label;
}

.input-base:focus + .input-text {
  @apply input-label-animate;
}

.input-base:valid + .input-text {
  @apply input-label-animate;
}

.input-textarea {
  @apply input-base h-full;
  text-indent: 0px;
  padding: 0px 26px;
  padding-top: 36px;
  z-index: 10;
}

.input-textarea-container {
  @apply input-container;
  height: 128px;
}

.input-textarea-container:focus-within {
  @apply outline-none bg-offWhite border-active;
}

.input-textarea-label {
  left: 26px;
  top: 20px;
  position: absolute;
  transition: 0.2s ease-in;
  z-index: 0;
  @apply text-placeholder;
}
.input-textarea-label:hover {
  cursor: text;
}

.input-textarea-label-animate {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.25px;
  @apply font-medium text-label;
}

.input-textarea:focus + .input-textarea-label {
  @apply input-textarea-label-animate;
}

.input-textarea:valid + .input-textarea-label {
  @apply input-textarea-label-animate;
}
